# Ignore environment files
.env

# Ignore build or system files
node_modules/
__pycache__/
*.log
*.dll
*.exe
*.pak
*.manifest
*.bin
*.dat
*.json
*test_unsplash.py

# Ignore browser or OS-specific files
locales/
resources/
hyphen-data/
MEIPreload/
IwaKeyDistribution/
PrivacySandboxAttestationsPreloaded/